/*// Denne siden er codet av fredrik Holtet /*/

@font-face {
    font-family: Montserrat;
    src: url(../Montserrat/Montserrat-SemiBold.ttf);
}
*{
    margin: 0;
}

body{
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background: black;
}

.screen{
    display: block;
    position: absolute;
    width: 1280px;
    height: 720px;
    background: rgb(0, 150, 255);
    overflow: hidden;
}

/*// få de lysere effekt sun div /*/
.light{
    position: absolute;
    width: 100%;
    height: 100%;
    background: white;
    opacity: 0;

}

.sky{
    background-color: #0c1445;
    position: absolute;
    height: 300px;
    top: 0;
    width: 100%;
    overflow: hidden;
    animation: skyColorChange 8s linear forwards;
}

/*// inventory er gjenstander som blir plukket opp,
 som er kodet av en person for å få en felles kode /*/

.inventory{
    position: absolute;
    width: 500px;
    height: 90px;
    top: 620px;
    left: 455px;
    opacity: 10%;
    transition: opacity linear .5s;
}

.inventoryItem{
    position: relative;
    float: left;
    width: 90px;
    height: 90px;
    background: white;
    border-radius: 10px;
    margin-right: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.inventoryItemImage{
    width: 90%;

}


.inventory:hover{
    opacity: 100%;
}

.inventoryItem:last-child{
    margin:0;
}

.boat{
    position: absolute;
    top: 250px;
    left: 500px;
    width: 200px;
    animation-name: boat;
    animation-duration: 15s;
    animation-timing-function: linear;
    animation-fill-mode: forwards;
}

.rigg {
    position: absolute;
    width: 400px;
    top: -30px;
    animation: moverigg 5s 1;
    animation-fill-mode: forwards;
}
.boomboom {
    position: absolute;
    width:550px;
    top: -50px;
    animation: boom 5s linear forwards;
    transform: scale(0);
}


.sea{
    position: relative;
    left: 0;
    top: 275px;
    bottom: 50px;
    height: 30px;
    background-size: 40px 100px;
    background-image: radial-gradient(
        circle at 20px -5px,
        transparent 22px,
         rgb(0, 150, 255) 18px);
        background-repeat: repeat;
}
 /*/ cleeen up hover er effekten når vi plukker opp søppel i havet /*/


.boatFinish{
    position: absolute;
    left: 370px;
    top: 350px;
    width: 200px;
}

.boatleave{
    position: absolute;
    left: 370px;
    top: 350px;
    width: 200px;
    animation: boatleave 5s linear forwards;
    animation-delay: 17s;
}

/*// bobler i vannet, endrer duration og delay slik at det gir en autentisk effekt på havet //*/

.bubbles{
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 0;
    overflow: hidden;
    top: 0;
    left: 0;
}

.bubble{
    position: absolute;
    bottom: 0;
    width: 10px;
    height: 10px;
    background: #81d4fa;
    border-radius: 50%;
    opacity: 0;
    animation: bobble 3s infinite ease-in;
}
.bubble:nth-child(1){
    width: 20px;
    height: 20px;
    left: 40%;
    animation-duration: 8s;
    
}
.bubble:nth-child(2){
    width: 10px;
    height: 10px;
    left: 50%;
    animation-duration: 5s;
    animation-delay: 4s;
}
.bubble:nth-child(3){
    width: 15px;
    height: 15px;
    left: 45%;
    animation-duration: 10s;
    animation-delay: 3s;
}
.bubble:nth-child(4){
    width: 23px;
    height: 23px;
    left: 45%;
    animation-duration: 7s;
    animation-delay: 0s;
}
.bubble:nth-child(5){
    width: 30px;
    height: 30px;
    left: 60%;
    animation-duration: 6s;
    animation-delay: 1s;
}
.bubble:nth-child(6){
    width: 40px;
    height: 40px;
    left: 69%;
    animation-duration: 10s;
    animation-delay: 5s;
}

/*// cloud er skyene som flyter rundt,
 setter lightning i samma class som cloud for å slippe flere keyframes /*/

.cloudSection {
    position: absolute;

    width: 100px;
    top: 50px;

    animation: wind 60s linear infinite;
}

.cloudSection .cloud {
    width: 100px;
}

.cloudSection .lightning {
    position: relative;

    top: -15px;
    height: 50px;
    left: 30px;
}

#cloudSection1 {
    position: absolute;
    animation: cloudSection1 40s linear infinite;
    top: 10px;
}

#cloudSection2 {
    position: absolute;
    animation: cloudSection2 60s linear infinite;
    top: 40px;
}

#cloudSection3 {
    position: absolute;
    animation: cloudSection3 30s linear infinite;
    top: 40px;
}

.speechBubble4 {
    position: absolute;
    border: 5px solid black;
    display: inline;
    padding: 50px;
    border-radius: 100px;
    font-family: Montserrat;
    background-color: white;
    top: 300px;
    left: 550px;
    animation: speechBubble 4s linear;
    opacity: 0;
    animation-delay: 12s;
    animation-fill-mode: forwards; 
    z-index: 1000;}

.sun{
    background-color: orange;
    height: 120px;
    width: 120px;
    border-radius: 50%;
    position: absolute;
    margin: auto;
    left: -50px;
    top: 0px;
    box-shadow: 0px 20px 100px 70px orange;
    animation-name: sunrise;
    animation-duration: 8s;
    animation-timing-function: linear;
    animation-fill-mode: forwards;

}
    
.rainbow {
    position: absolute;
    background-image: url(../images/rainbow.png);
    background-size: contain;
    background-position: bottom;
    background-repeat: no-repeat;

    top: 10px;
    left: 400px;
    width: 500px;
    height: 300px;
}

.rainbow .cover {
    position: relative;
    background-color: #0c1445;
    width: 100%;
    height: 100%;

    animation-name: rainbow, skyColorChange;
    animation-duration: 3s, 8s;
    animation-delay: 5s, 0s;
    animation-fill-mode: forwards, forwards;
    animation-timing-function: ease-in-out, linear;
}
.windturbine {
    position: absolute;
    width: 200px;
    height: 200px;
    top: 120px;
    left: 1000px;
    animation: windmill;
    animation-duration: 10s;
    animation-fill-mode: forwards;
}
.fish{
    position: absolute;
    width: 60px;
    top: 400px;
    left: 1400px;
    animation: moveFish;
    animation-duration: 20s;
    animation-timing-function: linear;
    animation-iteration-count: 5;
}

.fish2{
    position: absolute;
    width: 70px;
    height: 30px;
    top: 600px;
    left: 1500px;
    animation: moveFish;
    animation-delay: 4s;
    animation-duration: 15s;
    animation-timing-function: linear;
    animation-iteration-count: 5;
}
.fish3{
    position: absolute;
    width: 150px;
    height: 70px;
    top: 550px;
    left: 1500px;
    animation: moveFish;
    animation-delay: 4s;
    animation-duration: 10s;
    animation-timing-function: linear;
    animation-iteration-count: 5;
}



/*// KEYFRAMES //*/
@keyframes moveFish{
    form { left: 1000px; }
    to { left: -1000px}
  
}
@keyframes boatleave{
    to{ left: 2200px;}
}
@keyframes speechBubble{
    0%{ opacity: 0;}
    30%{ opacity: 1;}
    80% {opacity: 1;}
    100%{ opacity: 0;}
}
@keyframes windmill{
    0%{ 
        opacity: 0;
        height: 0px;
    }

    50% {
         opacity: 0;
         height: 0px;
         top: 50px;
        }

    70% {
        opacity: 0.8;
        height: 250px;
    }
    100%{ 
        opacity: 1;
        height: 200px;
        top: 120px;
    }
}
@keyframes rainbow {
    to {
        width: 0%;
    }
}
@keyframes moverigg{
    from{ left: 0px;}
    to{ left: -600px;}
}
/*// boom er cartoon effect /*/ 
@keyframes boom{
   10%{
        transform: scale(0.6);
    }
   70%{
       transform: scale(1.5);
   }
   100%{ 
       transform: scale(0);
    }
}
/*// Soloppgang men ikke solen,
hvor fargen endrer seg under veis. for å få en endring i bakrunden med   /*/
@keyframes skyColorChange{
    20%{ background-color: #0c1445;
    }
    50%{
        background-color: #004c66;
    }
    70%{
        background-color:#0086b3 ;
    }
    100%{ 
        background-color: #00ace6;
    }

}
/*// Dette er solen som stiger /*/
@keyframes sunrise{
    0% {
        left: 1300px;
        top: 200px;
    }
    100% {
        left: -50px;
        top: 20px;
    }
}
@keyframes cloudSection1 {
    0%{ left: -80px}

    100%{ left: 95%; }
  }
  @keyframes cloudSection2 {
    0%{ left: -80px}

    100%{ left: 95%;}
  }
  @keyframes cloudSection3 {
    0%{ left: -80px}
    100%{ left: 95%; }
  }
@keyframes bobble{
    0%{
        bottom: 0px;
        transform: translateX(0);
        opacity: 0;
    }
    10% { opacity: 1;}
    50%{
        transform: translateX(100px);
    }
    90%{ opacity: 1;}

    100%{
        bottom: 400px;
        transform: translateX(-20px);
        opacity: 0;
        }
    }