*{
    margin: 0;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -o-user-select: none;
    user-select: none;
}

body{
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background: black;
}

.screen{
    position: relative;
    display: block;
    width: 1280px;
    height: 720px;
    background: rgb(2,0,36);
    background: linear-gradient(360deg, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 9%, rgba(0,150,255,1) 100%);
}

.sky{
    position: absolute;
    background: #9be8ff;
    width: 100%;
    height: 300px;
    top:0px;
    z-index: 0;
}

/* INVENTORY */

.inventory{
    position: absolute;
    width: 500px;
    height: 90px;
    top: 620px;
    left: 365px;
    opacity: 10%;
    transition: opacity linear .5s;
}

.inventoryItem{
    float: left;
    position: relative;
    width: 90px;
    height: 90px;
    background: white;
    border-radius: 10px;
    margin-right: 10px;
}

.inventoryItemPicture{
    width: 80px;
    height: 80px;
    position: absolute;
    top: 5px;
    left: 5px;
    animation: build 3s linear;
    animation-fill-mode: forwards;
}

.tube{
    top:625px;
    left: 370px;
    z-index: 5;
}

.ball{
    top: 625px;
    left: 470px;
    z-index: 5;
}

.wheel{
    top: 625px;
    left: 570px;
    z-index: 5;
}

.fuse{
    top: 625px;
    left: 670px;
    z-index: 5;
}

.lighter{
    top: 625px;
    left: 770px;
    z-index: 5;
}

.inventory:hover{
    opacity: 100%;
}

.inventoryItem:last-child{
    margin:0;
}

/* END INVENTORY SECTION */

.boat{
    width: 300px;
    position: absolute;
    left: 50px;
    top: 180px;
    opacity: 100%;
}

.evilBoat{
    position: absolute;
    width: 350px;
    right: 10px;
    top: 30px;
    animation: evilBoat 2s ease-in-out infinite;
}

.highZ{
    z-index: 100;
}

.speechBubble {
    position: absolute;
    border: 5px solid black;
    display: inline;
    padding: 50px;
    border-radius: 100px;
    background-color: white;
    top: 100px;
    right: 300px;
    animation: speechBubble 2s linear;
    opacity: 0%;
    animation-delay: 1s;
    animation-fill-mode: forwards;
}

.button{
    position: absolute;
    background: yellow;
    padding: 15px;
    border: 3px solid black;
    border-radius: 20px;
    top: 500px;
    left: 550px;
    animation: button 1s linear 6s;
    animation-fill-mode: forwards;
    opacity: 0%;
    transition: transform 1s;
    color: black;
}

.button:hover{
    transform: scale(1.2,1.2);
}

.alex{
    z-index: 1;
    position: absolute;
    width: 180px;
    top: 70px;
    right: 120px;
    animation: alex 2s ease-in-out infinite;
    transform: rotateY(180deg);
}

.cannon{
    position: absolute;
    width: 130px;
    left: 260px;
    top: 190px;
    opacity: 0;
    animation: cannon .2s linear 3s;
    animation-fill-mode: forwards;
}


@keyframes speechBubble{
    0%{
        opacity: 0%;
    }
    100%{
        opacity: 100%;
    }
}

@keyframes button {
    0%{
        opacity: 0%;
    }
    100%{
        opacity: 100%;
    }
}

@keyframes evilBoat{
    0%{
        top: 10px;
    }
    50%{
        top: 20px;
    }
    100%{
        top:10px;
    }
}

@keyframes alex{
    0%{
        top: 70px;
    }
    50%{
        top: 80px;
    }
    100%{
        top: 70px;
    }
}

@keyframes build{
    99%{
        top: 210px;
        left: 270px;
        opacity: 100%;
    }
    100%{
        opacity: 0%;
    }
}

@keyframes cannon{
    0%{
        opacity: 0%;
    }
    100%{
        opacity: 100%;
    }
}