*{
    margin: 0;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -o-user-select: none;
    user-select: none;
}

body{
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background: black;
}

.screen{
    position: relative;
    display: block;
    width: 1280px;
    height: 720px;
    background: rgb(2,0,36);
    background: linear-gradient(360deg, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 9%, rgba(0,150,255,1) 100%);
    overflow: hidden;
}

.sky{
    position: absolute;
    background: #9be8ff;
    width: 100%;
    height: 300px;
    top:0px;
    z-index: 0;
}

/* INVENTORY */

.inventory{
    position: absolute;
    width: 500px;
    height: 90px;
    top: 620px;
    left: 365px;
    opacity: 10%;
    transition: opacity linear .5s;
}

.inventoryItem{
    float: left;
    position: relative;
    width: 90px;
    height: 90px;
    background: white;
    border-radius: 10px;
    margin-right: 10px;
}

.inventory:hover{
    opacity: 100%;
}

.inventoryItem:last-child{
    margin:0;
}

/* END INVENTORY SECTION */

.boat{
    width: 300px;
    position: absolute;
    left: 50px;
    top: 180px;
    opacity: 100%;
}

.evilBoat{
    position: absolute;
    width: 350px;
    right: 10px;
    transform: rotate(180deg);
    top: 200px;
    z-index: 0;
}

.highZ{
    z-index: 100;
}

.speechBubble {
    position: absolute;
    border: 5px solid black;
    display: inline;
    padding: 50px;
    border-radius: 100px;
    background-color: white;
    top: 100px;
    left: 400px;
    animation: speechBubble 4s linear 1s;
    opacity: 0%;
    animation-fill-mode: forwards;
}

.speechBubble2 {
    position: absolute;
    border: 5px solid black;
    display: inline;
    padding: 50px;
    border-radius: 100px;
    background-color: white;
    top: 100px;
    left: 400px;
    animation: speechBubble 4s linear 5s;
    opacity: 0%;
    animation-fill-mode: forwards;
}

.alex{
    z-index: 5;
    position: absolute;
    width: 400px;
    top: 80px;
    right: 100px;
    animation-name: alexFloating;
    animation-duration: 3s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
    transform: rotateY(180deg) rotate(-4deg);
}

.cannon{
    position: absolute;
    width: 130px;
    left: 260px;
    top: 190px;
}

.cloud {
    position: absolute;
    width: 200px;
    top: 4%;
    left: 0%;
    animation: cloud 9400ms infinite linear;
    animation-fill-mode: forwards;
    z-index: 0;
}

@keyframes cloud {
    0% {left: -50px; opacity: 0.3;}
    10% {opacity: 1;}
    100% {left: 1500px; opacity: 1;}
}


@keyframes alexFloating{
    0%{
        right: 200px;
    }
    50%{
        right: 180px;
    }
    100%{
        right: 200px;
    }
}


@keyframes speechBubble{
    0%{
        opacity: 0%;
    }
    20%{
        opacity: 100%;
    }
    80%{
        opacity: 100%;
    }
    100%{
        opacity: 0;
    }
}

@keyframes evilBoat{
    0%{
        top: 10px;
    }
    50%{
        top: 20px;
    }
    100%{
        top:10px;
    }
}

