*{
    margin: 0;
}

body{
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background: black;
}

.screen{
    position: relative;
    display: block;
    width: 1280px;
    height: 720px;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    
    background-image: url(images/menu-world.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

@font-face {
    font-family: Montserrat;
    src: url(Montserrat/Montserrat-SemiBold.ttf);
}

@font-face {
    font-family: MontserratBold;
    src: url(Montserrat/Montserrat-ExtraBold.ttf);
}

.menu {
    width: 40%;

    display: flex;
    flex-direction: column;
    align-items: center;
}

.menu h1 {
    font-family: MontserratBold;
    color: white;
}

.menu h3 {
    font-family: MontserratBold;
    color: white;
}

.menu p {
    margin-top: 20px;

    text-align: center;

    font-family: Montserrat;
    color: white;
    font-size: 15px;
}

.menu a {
	padding: 1em;
	padding-right: 4em;
	padding-left: 4em;

	margin-top: 4em;

	background-color: rgba(0,0,0,0);
	color: rgb(36, 36, 117);

	border: 1px solid rgb(36, 36, 117);
	border-top: 0;

    font-family: Montserrat;
    text-decoration: none;

    transform: scale(1);

	transition: background-color .2s, transform .2s;
}

.menu a:hover {
	background-color: white;
	transform: scale(1.05);
}

.menu a:active {
	transform: scale(1.2);
}

.menu a:focus {
	outline: 0;
}