*{
    margin: 0;
}

/* Snøen som snør i bakgrunnen */

.snow {
    background: url(snøø.png);
    background-repeat: repeat;
    width: 100%;
    height: 320px;
    position: absolute;
    top: 0%;
    left: 0%;
    animation: animateOne 10s infinite linear; 
}

@keyframes animateOne {
    0% {background-position: 0px 0px}
    100% {background-position: 10px 500px}
}

/* Stripen øverst på vannet som lager bølgene */

.sea{
    position: relative;
    left: 0;
    top: 300px;
    bottom: 50px;
    height: 30px;
    background-size: 40px 100px;
    background-image: radial-gradient(
    circle at 20px -5px,
    transparent 22px,
    #05317a 18px);
    background-repeat: repeat;
    animation: seaMove 5s infinite linear;
    animation-fill-mode: forwards;
    width: 3000px;
}

.sea:before{
    position: relative;
    content: "";
    background-color: #2d90af;
    height: 30px;
    bottom: -30px;  
}

@keyframes seaMove {
    0% {left: -200px;}
    100% {left: 0px;}
}

/* Solen som er oppe i hjørnet */

.sun {
    position: absolute;
    width: 90px;
    height: 90px;
    left: 30px;
    background-color: #eaed95;
    border-radius: 50%;
    display: inline-block;
    box-shadow: 0px 0px 15px 10px #fdffd4;
}

/* Skyen som beveger seg på himmelen */

#cloud {
    position: absolute;
    width: 200px;
    top: 4%;
    left: 0%;
    animation: cloud 9400ms infinite linear;
    animation-fill-mode: forwards;
}

@keyframes cloud {
    0% {left: -50px; opacity: 0.3;}
    10% {opacity: 1;}
    100% {left: 1500px; opacity: 1;}
}

/* Båten som kommer kjørende inn i bildet */

#boat {
    position: absolute;
    width: 250px;
    top: 30%;
    left: 15%;
    animation-name: boat;
    animation-duration: 10s;
    animation-fill-mode: forwards;
    animation-timing-function: ease-out; 
}

@keyframes boat {
    0% {left: -500px;}
    80% {left: -30px;}
    100% {left: 15%;}
}

/* Nissen som kommer inn i bildet og står på snøhaugen */

#santa {
    position: absolute;
    width: 100px;
    top: 25%;
    left: 75%;
    animation: santaMove 6s linear;
    z-index: 2;
}

@keyframes santaMove {
  0% {left: 0px; top: 3%; transform: rotate(0deg);}
    90% {left: 900px; top: 3%; transform: rotate(0);}
    100% {left: 75%; top: 25%; transform: rotate(360deg);}
}

/* Snøhaugene som er i vannet */

#snowpile {
    position: absolute;
    width: 300px;
    top: 33%;
    left: 65%;
}

#snowpile2 {
    position: absolute;
    width: 300px;
    top: 70%;
    left: 5%;
    animation: snowMove 7s infinite linear;
    animation-fill-mode: forwards; 
    z-index: 1;
}

@keyframes snowMove {
    0% {left: 5%}
    50% {left: 7%}
    100% {left: 5%;}
}

/* Isbjørnen som sitter på den ene snøhaugen */

#bear {
    position: absolute;
    width: 125px;
    top: 55%;
    left: 15%;
    animation: bearMove 7s infinite linear;
    animation-fill-mode: forwards;
    z-index: 2;
}

@keyframes bearMove {
    0% {left: 15%}
    50% {left: 17%}
    100% {left: 15%;}
}

/* Skiltet som står på snøhaugen med nissen */

#sign {
    position: absolute;
    width: 70px;
    top: 25%;
    left: 67%;
    transition-property: transform;
    transition-duration: 1s;
}

#sign:hover {
    transform: rotateY(180deg);
}

/* Bildet som er lagt på sjøen for at det skal se ut som bevegelse/bølger */

#wind {
    position: absolute;
    width: 1200px;
    height: 600px;
    top: 40%;
    animation: wind 10s infinite ease-in-out;
}

@keyframes wind {
    0% {right: -50px;}
    50% {right: 10%}
    100% {right: -50px}
}

/* Gavene som ligger i sjøen */

#gift1 {
    position: absolute;
    width: 100px;
    top: 48%;
    right: 3%;
    z-index: 1;
    transition-property: opacity;
    transition-duration: 700ms;
}

#socks {
    position: absolute;
    width: 45px;
    top: 50%;
    right: 5%;
    z-index: 0.5;
}

#gift2 {
    position: absolute;
    width: 130px;
    top: 65%;
    right: 15%;
    z-index: 1;
    transition-property: opacity;
    transition-duration: 700ms;
}

#teddy {
    position: absolute;
    width: 80px;
    top: 66%;
    right: 16%;
    z-index: 0.5;
}

#gift2Container:hover #gift2 {
    opacity: 0%;
}

#gift2Container:hover .incorrectGift2 {
    color: black;
    opacity: 1;
}

#gift1Container:hover #gift1 {
    opacity: 0%;
}

#gift1Container:hover .incorrectGift1 {
    color: black;
    opacity: 1;
}

#gift3 {
    position: absolute;
    width: 100px;
    top: 55%;
    right: 60%;
    z-index: 1;
    transition-property: opacity;
    transition-duration: 700ms;  
} 

#a {
    position: absolute;
    width: 100px;
    top: 55%;
    right: 60%;
    z-index: 0.5; 
}

#gift3:hover{
    opacity: 0%;
}

/* Gavesekken som står ved siden av nissen på snøhaugen */

#giftbag {
    position: absolute;
    width: 90px;
    top: 32%;
    left: 85%;
    transition: transform 1500ms ease-in-out;
} 

#giftbag:hover {
    transform: rotate(360deg);
}

/* Himmelen */

.top {
    position: absolute;
    width: 100%;
    height: 45%;
    background-color: #3a63a6;
}

/* Utseendet på snakkeboblen */

.dialog {
    border: 5px solid black;
    display: inline;
    padding: 40px;
    border-radius: 100px;
    background-color: white;
    font-size: 25px;
}

/* Snakkeboblen */

#dialog1 {
    position: absolute;
    left: 60%;
    top: 2%;
    opacity: 0%;
    animation-name: dialog;
    animation-delay: 11s;
    animation-duration: 2s;
    animation-fill-mode: forwards;
}

@keyframes dialog {
    0% {top: -0%;}
    100% {top: 2%; opacity: 1;}
}

/* Beskjedene som kommer opp når man tar feil gave */

.incorrectGift2 {
    position: absolute;
    width: 120px;
    top: 75%;
    right: 15%;
    color: transparent;
    opacity: 0;
    transition-property: opacity;
    transition-duration: 700ms;
}

.incorrectGift1 {
    position: absolute;
    width: 100px;
    top: 45%;
    right: 10%;
    z-index: 2;
    color: transparent;
    opacity: 0;
    transition-property: opacity;
    transition-duration: 700ms; 
}

/* Standaren for skjermen */

body{
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background: black;
}

.screen{
    position: relative;
    width: 1280px;
    height: 720px;
    background: #05317a;
    overflow: hidden;
}

/* Tingene som man samler opp underveis som ligger nederst på skjermen */

.inventory{
    position: absolute;
    width: 500px;
    height: 90px;
    top: 620px;
    left: 365px;
    opacity: 10%;
    transition: opacity linear .5s;
}

.inventoryItem{
    float: left;
    position: relative;
    width: 90px;
    height: 90px;
    background: white;
    border-radius: 10px;
    margin-right: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.inventoryItemPicture{
    width: 90%;
}

.inventory:hover{
    opacity: 100%;
}

.inventoryItem:last-child{
    margin:0;
}