#boat{
    position: absolute;
    top: 350px;
    left: 100px;
    width: 200px;
    height: 150px;
    opacity: 1;
    
    animation-name: boat;
    animation-duration: 8s;
    animation-timing-function: linear;
    opacity: 1;
}

@keyframes boat{
    0%{
        opacity: 0.08;
    }
    100%{
        opacity: 1;
    }
    }


#fish{
    position: absolute;
    height: 400px;
    width: 400px;
    left: 10px;
    top: 5px;
    transform: rotateY(180deg);
    
    animation-name: fish;
    animation-duration: 5s;
    animation-timing-function: linear;
    opacity: 1;
}

@keyframes fish{
    0%{
        left: 600px;
        top: 100px;
        height: 600px;
        width: 600px;
        opacity: 0.2;
        transform: rotateY(0deg);
    }
    100%{
        left: 10px;
        top: 5px;
        height: 400px;
        width: 400px;
        opacity: 1;
        transform: rotateY(180deg);
    }
}

#fish2{
    position: absolute;
    height: 400px;
    width: 400px;
    left: 10px;
    top: 5px;
    transform: rotateY(180deg);
    
    animation-name: fish2;
    animation-duration: 5s;
    animation-timing-function: linear;
    opacity: 1;
}
@keyframes fish2{
    0%{
        left: 600px;
        top: 100px;
        height: 600px;
        width: 600px;
        opacity: 0.2;
        transform: rotateY(0deg);
    }
    100%{
        left: 10px;
        top: 5px;
        height: 400px;
        width: 400px;
        opacity: 1;
        transform: rotateY(180deg);
    }
}




#box{
    position: absolute;
    width: 40px;
    height: 40px;
    left: 613px;
    top: 380px;
}
#box2{
    position: absolute;
    width: 1280px;
    height: 720px;
    background-color: black;
    opacity: 0;
    
    animation-name: box2;
    animation-duration: 7s;
    animation-timing-function: linear;
    
}
@keyframes box2{
    0%{
        opacity: 0.96666666666;
    }
    50%{
        opacity: 0.96666666666;
    }
    100%{
        opacity: 0;
    }
}

#closedChest{
    position: absolute;
    left: 1000px;
    top: 500px;
    width: 100px;
    height: 100px;
    opacity: 1;
    
    animation-name: closedChest;
    animation-duration: 7s;
    animation-timing-function: linear;
}

@keyframes closedChest{
    0%{
        opacity: 0;
    }
    50%{
        opacity: 0;
    }
    51%{
        opacity: 0.6;
    }
    100%{
        opacity: 1;
    }
}
#text{
    position: absolute;
    left: 300px;
    top: 400px;
    
    animation-name: text;
    animation-duration: 7s;
}
@keyframes text{
    0%{
        opacity: 0;
    }
    99%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}


{
    margin: 0;
}

body{
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background: black;
    z-index: 0;
}

.screen{
    position: relative;
    display: block;
    width: 1280px;
    height: 720px;
    background-image: url(Images/background.jpg);
    background-repeat: no-repeat;
    background-size: 1280px 720px;
}

.inventory{
    position: absolute;
    width: 500px;
    height: 90px;
    top: 620px;
    left: 365px;
    opacity: 10%;
    transition: opacity linear .5s;
}

.inventoryItem{
    float: left;
    width: 90px;
    height: 90px;
    background: white;
    border-radius: 10px;
    margin-right: 10px;
}

.inventory:hover{
    opacity: 100%;
}

.inventoryItem:last-child{
    margin:0;
}