@font-face {
    font-family: Montserrat;
    src: url(../Montserrat/Montserrat-SemiBold.ttf);
}

#background{
    position: absolute;
    width: 100%;
    height: 100%;
}

#Atlantis{
    position: absolute;
    width: 25%;
    height: 40%;
    top: 45%;
    left: 45%;
    opacity: 0.9;
}


@keyframes link {
    0%{
        opacity: 0;
    }100%{
        opacity: 1;
        z-index: 2;
    }
}

/* Sqaures er styling til start */
.square{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 3%;
    font-family: montserrat;
}


#outerSqaure{
    color: red;
    border: 17px dotted yellow;
    border-radius: 16px;
    padding: 3.1%;
    animation-name: colorSplash;
    animation-duration: 5s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}
@keyframes colorSplash {
    0%{
        border-color: yellow;
    }
    25%{
        border-color: green;
    }
    50%{
        border-color: blue;
    }
    75%{
        border-color: purple;
    }
    100%{
        border-color: orange;
    }
}

#mainSqaure{
    background-color: rgb(255, 250, 230);
    border-radius: 4px;
    box-shadow: 0px 0px 1px 25px #d60b15   
}

#opacitySquare{
    opacity: 0;
    animation: link;
    animation-delay: 46s;
    animation-duration: 2s;
    animation-timing-function: linear;
    animation-fill-mode: forwards;
    animation-iteration-count: 1;
}
@keyframes link {
    0%{
        opacity: 0;
    }100%{
        opacity: 1;
    }
}

#Neptune{
    position: absolute;
    top: 100px;
    left: 600px;
    opacity: 1;
    transform: rotateY(180deg);
    animation: Neptune, nepSwaying;
    animation-duration: 10s, 11s;
    animation-timing-function: linear, linear;
    animation-iteration-count: 1, infinite;
}
@keyframes Neptune{
    0%{
        opacity: 0;
        left: 680px;
    }
    40%{
        opacity: 0;
    }
    50%{
        opacity: 1;
        left: 500px;
    }
    70%{
        left: 600px;
    }
    100%{
        opacity: 1;
        left: 600px;
    }
}
@keyframes nepSwaying{
    0%{
        top: 100px;
    }
    33%{
        top: 70px;
    }
    66%{
        top: 150px;
    }
    100%{
        top: 100px;
    }
}

#uboat{
    position: absolute;
    width: 200px;
    top: 300px;
    left: 200px;
    animation: uboat, swaying;
    animation-duration: 10s, 10s;
    animation-timing-function: linear, linear;
    animation-iteration-count: 1, infinite;
}
@keyframes uboat {
    0%{left: -100px;
    }
    50%{left: 600px;
    transform: rotate(0deg)}
    60%{
        transform: rotate(20deg)
    }
    70%{
        transform: rotate(-20deg)
    }
    100%{left: 200px;}
}
@keyframes swaying{
    0%{
        top: 300px;
    }
    33%{
        top: 330px;
    }
    66%{
        top: 270px;
    }
    100%{
        top: 300px;
    }
}

.dialog{
    position: absolute;
    border: 5px solid black;
    display: inline;
    padding: 50px;
    border-radius: 100px;
    background-color: white;
    font-family: montserrat;
}

#dialog2{
    top: 100px;
    left: 20%;
    opacity: 0;
    animation: dialog2;
    animation-delay: 1s;
    animation-duration: 4s;
    animation-timing-function: linear;
    animation-iteration-count: 1;
}
@keyframes dialog2 {
    0%{
        opacity: 0;
    }
    20%{
        opacity: 1;
    }
    40%{
        
    }
    60%{
        
    }
    90%{
        opacity: 1;
    }
    100%{
        opacity: 0;
    }
}

#dialog1{
    top: 5%;
    left: 50%;
    opacity: 0;
    animation: dialog3;
    animation-delay: 5s;
    animation-duration: 7s;
    animation-timing-function: linear;
    animation-iteration-count: 1;
}

#dialog3{
    top: 15%;
    left: 20%;
    opacity: 0;
    animation: dialog3;
    animation-delay: 12s;
    animation-duration: 7s;
    animation-timing-function: linear;
    animation-iteration-count: 1;
}
@keyframes dialog3 {
    0%{
        opacity: 0;
    }
    1%{
        opacity: 1;
    }
    99%{
        opacity: 1; 
    }
    100%{
        opacity: 0;
    }
}

#dialog4{
    top: 5%;
    left: 50%;
    opacity: 0;
    animation: dialog3;
    animation-delay: 19s;
    animation-duration: 7s;
    animation-timing-function: linear;
    animation-iteration-count: 1;
}

#dialog5{
    top: 15%;
    left: 20%;
    opacity: 0;
    animation: dialog3;
    animation-delay: 26s;
    animation-duration: 7s;
    animation-timing-function: linear;
    animation-iteration-count: 1;
}

#dialog6{
    top: 5%;
    left: 50%;
    opacity: 0;
    animation: dialog3;
    animation-delay: 33s;
    animation-duration: 8s;
    animation-timing-function: linear;
    animation-iteration-count: 1;
}


.curtain{
    position: absolute;
}
#curtainLeft{
    left: -100%;
    animation: curtainLeftMove;
    animation-delay: 41s;
    animation-duration: 5s;
    animation-timing-function: linear;
    animation-fill-mode: forwards;
    animation-iteration-count: 1;
}
@keyframes curtainLeftMove{
    0%{
        left: -100%;
    }
    100%{
        left: 0%;
    }
}
#curtainRight{
    left: -50%;
    animation: curtainRightMove;
    animation-delay: 41s;
    animation-duration: 5s;
    animation-timing-function: linear;
    animation-fill-mode: forwards;
    animation-iteration-count: 1;
}
@keyframes curtainRightMove{
    0%{
        left: -50%;
    }
    100%{
        left: 50%;
    }
}
#blackLeftLayer{ 
    position: relative;
    border: 360px solid black;
    left: -1280px;
}


*{
    margin: 0;
}

body{
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background: black;
}

.screen{
    position: absolute;
    display: block;
    width: 1280px;
    height: 720px;
    background: rgb(0, 150, 255);
}

.inventory{
    position: absolute;
    width: 500px;
    height: 90px;
    top: 620px;
    left: 365px;
    opacity: 10%;
    transition: opacity linear .5s;
    animation: startInventory .1s;
}

.inventoryItem{
    float: left;
    width: 90px;
    height: 90px;
    background: white;
    border-radius: 10px;
    margin-right: 10px;
}

.inventory:hover{
    opacity: 100%;
}

.inventoryItem:last-child{
    margin:0;
}
@keyframes startInventory{
    0%{
        opacity: 10%;
    }
    100%{
        opacity: 10%;
    }
}