@font-face {
    font-family: Montserrat;
    src: url(../Montserrat/Montserrat-SemiBold.ttf);
}

#background{
    position: absolute;
    width: 100%;
    height: 100%;
}

#Atlantis{
    position: absolute;
    width: 25%;
    height: 40%;
    top: 45%;
    left: 45%;
    opacity: 0.6;
}


#blackBox{
    position: absolute;
    opacity: 0.0;
    width: 100%;
    height: 100%;
    background-color: black;
    
}

.dialog{
    position: absolute;
    border: 5px solid black;
    display: inline;
    padding: 50px;
    border-radius: 100px;
    background-color: white;
    font-family: montserrat;
}

#dialog1{
    top: 20px;
    left: 600px;
    opacity: 0;
    animation: dialog1;
    animation-duration: 11s;
    animation-delay: 4s;
    animation-timing-function: linear;
}
@keyframes dialog1 {
    0%{
        opacity: 0;
    }
    1%{
        opacity: 1;
    }
    99%{
        opacity: 1; 
    }
    100%{
        opacity: 0;
    }
}
#dialog2{
    top: 20px;
    left: 600px;
    opacity: 0;
    animation: dialog1;
    animation-duration: 11s;
    animation-delay: 15s;
    animation-timing-function: linear;
}
@keyframes dialog1 {
    0%{
        opacity: 0;
    }
    1%{
        opacity: 1;
    }
    99%{
        opacity: 1; 
    }
    100%{
        opacity: 0;
    }
}






.curtain{
    position: absolute;
}

#curtainRight{
    left: 50%;
    top: 0px;
    animation: curtainR;
    animation-duration: 5s;
    animation-timing-function: linear;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}

#curtainLeft{
    top: 0px;
    animation: curtainL;
    animation-duration: 5s;
    animation-timing-function: linear;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}

@keyframes curtainR {
    0%{
        left: 50%;
    }
    100%{
        left: 100%;
    }
}
@keyframes curtainL {
    0%{
        left: 0%;
    }
    100%{
        left: -50%;
    }
}

#uboat{
    position: absolute;
    width: 200px;
    top: 300px;
    left: 200px;
    animation: uboat, swaying;
    animation-duration: 10s, 10s;
    animation-timing-function: linear, linear;
    animation-iteration-count: 1, infinite;
}
@keyframes swaying{
    0%{
        top: 300px;
    }
    33%{
        top: 330px;
    }
    66%{
        top: 270px;
    }
    100%{
        top: 300px;
    }
}

#Neptune{
    position: absolute;
    top: 100px;
    left: 690px;
    opacity: 1;
    transform: rotateY(180deg);
    animation: Neptune, nepSwaying;
    animation-duration: 10s, 11s;
    animation-timing-function: linear, linear;
    animation-iteration-count: 1, infinite;
}
@keyframes nepSwaying{
    0%{
        top: 100px;
    }
    33%{
        top: 70px;
    }
    66%{
        top: 150px;
    }
    100%{
        top: 100px;
    }
}

#blackBoxTransition{
    position: absolute;
    opacity: 1;
    width: 100%;
    height: 100%;
    background-color: black;
    
    animation: transition;
    animation-duration: 3s;
    animation-fill-mode: forwards;
    
    
    
}
@keyframes transition {
    0% {
        opacity: 1;
    }
    99% {
        z-index: 1;
    }
    100% {
        opacity: 0;
        z-index: -1;
        
    }
}



*{
    margin: 0;
}

body{
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background: black;
}

.screen{
    position: absolute;
    display: block;
    width: 1280px;
    height: 720px;
    background: rgb(0, 150, 255);
    overflow: hidden;
}

.inventory{
    position: absolute;
    width: 500px;
    height: 90px;
    top: 620px;
    left: 365px;
    opacity: 10%;
    transition: opacity linear .5s;
    animation: startInventory .1s;
}

.inventoryItem{
    float: left;
    width: 90px;
    height: 90px;
    background: white;
    border-radius: 10px;
    margin-right: 10px;
}

.inventory:hover{
    opacity: 100%;
}

.inventoryItem:last-child{
    margin:0;
}
@keyframes startInventory{
    0%{
        opacity: 10%;
    }
    100%{
        opacity: 10%;
    }
}