.square{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 3%;
}

#outerSqaure{
    color: red;
    border: 17px dotted yellow;
    border-radius: 17px;
    padding: 3.1%;
    
    animation-name: colorSplash;
    animation-duration: 5s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}
@keyframes colorSplash {
    0%{
        border-color: yellow;
    }
    25%{
        border-color: green;
    }
    50%{
        border-color: blue;
    }
    75%{
        border-color: purple;
    }
    100%{
        border-color: orange;
    }
}

#mainSqaure{
    background-color: rgb(255, 250, 230);
    border-radius: 4px;
    box-shadow: 0px 0px 1px 25px #d60b15   
}

.redBall{
    position: absolute;
    transform: translate(-50%, -50%);
    border: 8px solid red;
    border-radius: 50%;
}


p{
    display:inline-block;
    width:10%;
    top: 90px;
    left: 200px;
    border-radius: 255px 15px 225px 15px/15px 225px 15px 255px;
    padding:30px;
    line-height:1.5em;
    background:hsla(67, 95%, 95%, 1);
    border:solid 5px hsla(0, 95%, 35%, 1);
}

#test{

    position: absolute;
    top: 200px;
    left: 200px;
    padding: 5px;
    border: 3px solid black;
}
#test:{
    border: 10px dotted red;
}

#pracc{
    position: absolute;
    padding: 3%;
    width: 20%;
    height: 10%;
    background-color: rgb(255, 250, 230);
    transform: translate(-50%, -50%);
    border-radius: 4px;
    box-shadow: 0px 0px 0px 25px rgb(214, 11, 21) 
}

#pracc2{
    position: absolute;
    padding: 5.6%;
    width: 194px;
    height: 10px;
    border-radius: 16px;
    transform: translate(-50%, -50%);
    border: 17px dotted black;
    animation-name: colorSplash;
    animation-duration: 5s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}
@keyframes colorSplash {
    0%{
        border-color: yellow;
    }
    25%{
        border-color: green;
    }
    50%{
        border-color: blue;
    }
    75%{
        border-color: purple;
    }
    100%{
        border-color: orange;
    }
}


.fancyBox{
    top: 140px;
    left: 600px;
    
    opacity: ;
    
}

#fancyBoxBgw{
    position: absolute;
    top: 00px;
    left: 350px;
    width: 40%;
    height: 40%;
    border-radius: 20px;
    background: rgb(195,34,34);
background: radial-gradient(circle, rgba(195,34,34,1) 50%, rgba(255,255,255,0.26934523809523814) 95%);;
    z-index: 0;
    opacity: 0;
}

#light1{
    position: absolute;
    
    top: 230px;
    left: 420px;
    width: 33px;
    height: 70px;
    transform: rotate(10deg);
    transform-origin: top;
    border-radius: 28% 25% 25% 25% / 85% 84% 25% 23%  ;
    background: rgb(255,255,255);
    background: linear-gradient(0deg, rgba(255,255,255,1) 2%, rgba(0,0,0,1) 13%);
    box-shadow: 0px 230px 100px 70px white;
    animation: lightMvnt;
    animation-duration: 5s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
}
@keyframes lightMvnt{
    0%{
        transform: rotate(40deg);
    }
    50%{
        transform: rotate(-40deg);
    }
    100%{
        transform: rotate(40deg);
    }
}

#t1{
    position: absolute;
    width: 10%;
    height: 20%;
    top: 70%;
    left: 70%;
}

#portal{
    position: absolute;
    top: 400px;
    left: 850px;
    
    width: 300px;
    height: 300px;
    background: rgb(255,255,255);
    background: radial-gradient(circle, rgba(255,255,255,0) 20%, rgba(34,72,195,1) 24%, rgba(255,255,255,0) 32%);
    animation: circle1;
    animation-duration: 5s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
}
@keyframes circle1{
    0%{
        top: 450px;
    }
    50%{
        top: 400px;
        left: 800px;
    }
    100%{
        top: 450px;
        left: 850px;
    }
}

#lidlCircle{
    position: absolute;
    top: 60%;
    left: 70%;
    border: 10px solid rgba(255,255,255,0.5);
    border-radius: 50%;
    padding: 50px;
}


*{
    margin: 0;
}

body{
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background: black;
}

.screen{
    position: relative;
    display: block;
    width: 1280px;
    height: 720px;
    background: lightblue;
}

.inventory{
    position: absolute;
    width: 500px;
    height: 90px;
    top: 620px;
    left: 365px;
    opacity: 10%;
    transition: opacity linear .5s;
}

.inventoryItem{
    float: left;
    width: 90px;
    height: 90px;
    background: white;
    border-radius: 10px;
    margin-right: 10px;
}

.inventory:hover{
    opacity: 100%;
}

.inventoryItem:last-child{
    margin:0;
}

