.square{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 3%;
}

#outerSqaure{
    color: red;
    border: 17px dotted yellow;
    border-radius: 17px;
    padding: 3.1%;
    
    animation-name: colorSplash;
    animation-duration: 5s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}
@keyframes colorSplash {
    0%{
        border-color: yellow;
    }
    25%{
        border-color: green;
    }
    50%{
        border-color: blue;
    }
    75%{
        border-color: purple;
    }
    100%{
        border-color: orange;
    }
}

#mainSqaure{
    background-color: rgb(255, 250, 230);
    border-radius: 4px;
    box-shadow: 0px 0px 1px 25px #d60b15   
}

.redBall{
    position: absolute;
    transform: translate(-50%, -50%);
    border: 8px solid red;
    border-radius: 50%;
}


p{
    display:inline-block;
    width:10%;
    top: 90px;
    left: 200px;
    border-radius: 255px 15px 225px 15px/15px 225px 15px 255px;
    padding:30px;
    line-height:1.5em;
    background:hsla(67, 95%, 95%, 1);
    border:solid 5px hsla(0, 95%, 35%, 1);
}

#test{

    position: absolute;
    top: 200px;
    left: 200px;
    padding: 5px;
    border: 3px solid black;
}
#test:{
    border: 10px dotted red;
}

*{
    margin: 0;
}

body{
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background: black;
}

.screen{
    position: relative;
    display: block;
    width: 1280px;
    height: 720px;
    background: lightblue;
}

.inventory{
    position: absolute;
    width: 500px;
    height: 90px;
    top: 620px;
    left: 365px;
    opacity: 10%;
    transition: opacity linear .5s;
}

.inventoryItem{
    float: left;
    width: 90px;
    height: 90px;
    background: white;
    border-radius: 10px;
    margin-right: 10px;
}

.inventory:hover{
    opacity: 100%;
}

.inventoryItem:last-child{
    margin:0;
}

