#background{
    position: absolute;
    width: 100%;
    height: 100%;
}

#Atlantis{
    position: absolute;
    width: 25%;
    height: 40%;
    top: 45%;
    left: 45%;
    opacity: 0.6;
}

#dialogLink{
    position: absolute;
    
    width: 200px;
    top: 100px;
    left: 50%;
    transform: translateX(-50%);
    
    animation: link;
    animation-duration: 100s;
    animation-timing-function: linear;
    animation-iteration-count: 1;
}
@keyframes link {
    0%{
        opacity: 0;
    }20%{
        opacity: 0;
    }21%{
        opacity: 1;
    }100%{
        opacity: 1
    }
}

#Neptune{
    position: absolute;
    top: 100px;
    left: 600px;
    opacity: 1;
    transform: rotateY(180deg);
    animation: Neptune;
    animation-duration: 10s;
    animation-timing-function: linear;
    animation-iteration-count: 1;
}
@keyframes Neptune{
    0%{
        opacity: 0;
        left: 1200px;
    }
    40%{
        opacity: 0;
    }
    50%{
        opacity: 1;
        left: 500px;
    }
    70%{
        left: 600px;
    }
    100%{
        opacity: 1;
        left: 600px;
    }
}

#uboat{
    position: absolute;
    width: 200px;
    top: 300px;
    left: 200px;
    animation: uboat, swaying;
    animation-duration: 10s, 10s;
    animation-timing-function: linear, linear;
    animation-iteration-count: 1, infinite;
}
@keyframes uboat {
    0%{left: -100px;
    opacity: 0;}
    5%{
        opacity: 0;
    }
    25%{
        opacity: 0.7;
    }
    50%{left: 600px;
    opacity: 1;
    transform: rotate(0deg)}
    60%{
        transform: rotate(20deg)
    }
    70%{
        transform: rotate(-20deg)
    }
    100%{left: 200px;}
}
@keyframes swaying{
    0%{
        top: 300px;
    }
    33%{
        top: 330px;
    }
    66%{
        top: 270px;
    }
    100%{
        top: 300px;
    }
}

.dialog{
    position: relative;
    top: 120px;
    left: 60%;
    border: 5px solid black;
    display: inline;
    padding: 50px;
    border-radius: 100px;
    background-color: white;
    opacity: 0;
    animation: dialog1;
    animation-duration: 100s;
    animation-timing-function: linear;
    animation-iteration-count: 1;
}
@keyframes dialog1 {
    0%{
        
    }
    9%{
        opacity: 0;
    }
    10%{
        opacity: 1;
    }
    19%{
        opacity: 1;
    }
    20%{
        opacity: 0;
    }
    30%{
        
    }
    40%{
        
    }
    50%{
        
    }
    60%{
        
    }
    70%{
        
    }
    80%{
        
    }
    90%{
        
    }
    100{
        
    }
}

*{
    margin: 0;
}

body{
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background: black;
}

.screen{
    position: absolute;
    display: block;
    width: 1280px;
    height: 720px;
    background: rgb(0, 150, 255);
}

.inventory{
    position: absolute;
    width: 500px;
    height: 90px;
    top: 620px;
    left: 365px;
    opacity: 10%;
    transition: opacity linear .5s;
}

.inventoryItem{
    float: left;
    width: 90px;
    height: 90px;
    background: white;
    border-radius: 10px;
    margin-right: 10px;
}

.inventory:hover{
    opacity: 100%;
}

.inventoryItem:last-child{
    margin:0;
}