#cannonBarrel{
    width: 90%;
    max-height: 90%;
    
}

#boat{
    position: absolute;
    top: 400px;
    left: 750px;
    width: 200px;
    height: 150px;
    
    animation-name: boat;
    animation-duration: 4s;
    animation-timing-function: linear;
}
@keyframes boat{
    0%{
        top: 350px;
        left: 100px;
    }
    100%{
        top: 400px;
        left: 750px;
    }
}

#fish{
    position: absolute;
    height: 400px;
    width: 400px;
    left: 10px;
    top: 5px;
    transform: rotateY(180deg);
}

#fish2{
    position: absolute;
    height: 400px;
    width: 400px;
    left: 10px;
    top: 5px;
    transform: rotateY(180deg);
}

#closedChest{
    position: absolute;
    left: 1000px;
    top: 500px;
    width: 100px;
    height: 100px;
    
    animation-name: closedChest;
    animation-duration: 4s;
    animation-timing-function: linear;
    opacity: 0;
}
@keyframes closedChest{
    0%{
        opacity: 1;
    }
    99%{
        opacity: 1;
    }
    100%{
        opacity: 0;
    }
}

#openChest{
    position: absolute;
    left: 1000px;
    top: 500px;
    width: 100px;
    height: 100px;
    
    animation-name: openChest;
    animation-duration: 4s;
    animation-timing-function: linear;
    opacity: 1;
}
@keyframes openChest{
    0%{
        opacity: 0;
    }
    99%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}

#ball{
    position: absolute;
    width: 50px;
    height: 50px;
    left: 1010px;
    top: 520px;
    
    animation-name: ball;
    animation-duration: 4s;
    animation-timing-function: linear;
}
@keyframes ball{
    0%{
        opacity: 0;
    }
    99%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}


@font-face{
    font-family: 'semiBold';
    src:url(/Montserrat/Montserrat-SemiBold.ttf);
    font-style: normal;
} /*Importerer fonten*/

#text{
    position: absolute;
    left: 900px;
    top: 400px;
    font-family: semiBold;
    
    border: 5px solid black;
    display: inline;
    padding: 7px;
    border-radius: 100px;
    background-color: white;
    
    animation-name: text;
    animation-duration: 5s;
    animation-timing-function: linear;
}
@keyframes text{
    0%{
        opacity: 0;
    }
    99%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}

{
    margin: 0;
}

body{
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background: black;
    z-index: 0;
}

.screen{
    position: relative;
    display: block;
    width: 1280px;
    height: 720px;
    overflow: hidden;
    background-image: url(/images/background.jpg);
    background-repeat: no-repeat;
    background-size: 1280px 720px;
}

.inventory{
    position: absolute;
    width: 500px;
    height: 90px;
    top: 620px;
    left: 365px;
    opacity: 10%;
    transition: opacity linear .5s;
}

.inventoryItem{
    float: left;
    width: 90px;
    height: 90px;
    background: white;
    border-radius: 10px;
    margin-right: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    
    animation-name: inventory;
    animation-duration: 1s;
}

@keyframes inventory{
    0%{
        opacity: 10%;
    }
    100%{
        opacity: 10%;
    }
}

.inventory:hover{
    opacity: 100%;
}

.inventoryItem:last-child{
    margin:0;
}