/*Jonas*/


/*Hver keyframe hører sammen med ID/classen rett over*/

#cannonBarrel{
    width: 90%;
    max-height: 90%;
    
}

#boat{
    position: absolute;
    top: 350px;
    width: 200px;
    height: 150px;
    left: 100px;
    opacity: 0.08;

    
    animation-name: dive;
    animation-duration: 4s;
    animation-timing-function: linear;
}
@keyframes dive{
    0%{
        top: -200px;  
    }
    100%{
        top: 350px;
    }
}

/*Importerer fonten*/
@font-face{
    font-family: 'semiBold';
    src:url(../Montserrat/Montserrat-SemiBold.ttf);
    font-style: normal;
} 

#text{
    position: absolute;
    left: 250px;
    top: 280px;
    font-family: semiBold;
    
    border: 5px solid black;
    display: inline;
    padding: 30px;
    border-radius: 100px;
    background-color: white;
    
    animation-name: text;
    animation-duration: 15s;
    opacity: 1;
}
@keyframes text{
    0%{
        opacity: 0
    }
    80%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}


/*Kun lyskrona til fisken. Gjør det slik så opacity ikke trenger å være like*/
#fish2{
    position: absolute;
    height: 600px;
    width: 600px;
    left: 600px;
    top: 100px;
    
    animation-name: fish2;
    animation-duration: 15s;
    animation-timing-function: linear;
    opacity: 0.4;
}
@keyframes fish2{
    0%{
        left: 650px;
        top: 10px;
        opacity: 0;
    }
    10%{
        left: 650px;
        top: 10px;
        opacity: 0.08;
        width: 200px;
        height: 200px;
    }
    30%{
        top: 40px;
        width: 300px;
        height: 300px;
    }
    50%{
        transform: rotateY(0deg);
        
    }
    60%{
        left: 300px;
        top: 300px;
        width: 450px;
        height: 450px;
        transform: rotateY(180deg);
    }
    75%{
        left: 450px;
        top: 80px;
    }
    90%{
        left: 600px;
        top: 100px;
        transform: rotateY(180deg);
        width: 600px;
        height: 600px;
    }
}

/*Hele fisken*/
#fish{
    position: absolute;
    height: 600px;
    width: 600px;
    left: 600px;
    top: 100px;
    
    animation-name: fish;
    animation-duration: 15s;
    animation-timing-function: linear;
    opacity: 0.2;
}
@keyframes fish{
    0%{
        left: 650px;
        top: 10px;
        opacity: 0;
    }
    10%{
        left: 650px;
        top: 10px;
        opacity: 0.08;
        width: 200px;
        height: 200px;
    }
    30%{
        top: 40px;
        width: 300px;
        height: 300px;
    }
    50%{
        transform: rotateY(0deg);
        
    }
    60%{
        left: 300px;
        top: 300px;
        width: 450px;
        height: 450px;
        transform: rotateY(180deg);
    }
    75%{
        left: 450px;
        top: 80px;
    }
    90%{
        left: 600px;
        top: 100px;
        transform: rotateY(180deg);
        width: 600px;
        height: 600px;
    }
}

#box{
    position: absolute;
    width: 40px;
    height: 40px;
    left: 613px;
    top: 380px;
    
}
#box2{
    position: absolute;
    width: 1280px;
    height: 720px;
    background-color: black;
    opacity: 0.9777
    }

* {
    margin: 0;
}

body{
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background: black;
    z-index: 0;
}

.screen{
    position: relative;
    display: block;
    width: 1280px;
    height: 720px;
    overflow: hidden;
    background-image: url(../images/background.jpg);
    background-repeat: no-repeat;
    background-size: 1280px 720px;
}

.inventory{
    position: absolute;
    width: 500px;
    height: 90px;
    top: 620px;
    left: 455px;
    opacity: 10%;
    transition: opacity linear .5s;
    
    animation-name: inventory;
    animation-duration: 1s;
}

@keyframes inventory{
    0%{
        opacity: 10%;
    }
    100%{
        opacity: 10%;
    }
}

.inventoryItem{
    float: left;
    width: 90px;
    height: 90px;
    background: white;
    border-radius: 10px;
    margin-right: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}


.inventory:hover{
    opacity: 100%;
}

.inventoryItem:last-child{
    margin:0;
}