/*Jonas*/


/*Hver keyframe hører sammen med ID/classen rett over*/

#cannonBarrel{
    width: 90%;
    max-height: 90%;
    
}

#boat{
    position: absolute;
    top: 400px;
    left: 750px;
    width: 200px;
    height: 150px;
    
    animation-name: boat;
    animation-timing-function: linear;
    animation-duration: 5s;
    animation-fill-mode: forwards;
}
@keyframes boat{
    0%{
        left: 750px;
        top: 400px;
    }
    100%{
        left: 1400px;
        top: 250px;
    }
}

#fish{
    position: absolute;
    height: 400px;
    width: 400px;
    left: 10px;
    top: 5px;
    transform: rotateY(180deg);
}

#fish2{
    position: absolute;
    height: 400px;
    width: 400px;
    left: 10px;
    top: 5px;
    transform: rotateY(180deg);
}

#openChest{
    position: absolute;
    left: 1000px;
    top: 500px;
    width: 100px;
    height: 100px;
    
    animation-name: openChest;
    animation-duration: 4s;
    animation-timing-function: linear;
    opacity: 1;
}

/*Kanonkula*/
#ball{
    position: absolute;
    width: 80px;
    height: 80px;
    left: 470px;
    top: 625px;
    z-index: 1;
    
    animation-name: ball;
    animation-duration: 3s;
    animation-timing-function: linear;
    animation-fill-mode: forwards;
}

@keyframes ball{
    0%{
    left: 1010px;
    top: 520px;
    width: 50px;
    height: 50px;
        
    }
    100%{
        left: 470px;
        top: 625px;
        opacity: 10%;
    }
}

* {
    margin: 0;
}

body{
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background: black;
    z-index: 0;
}

.screen{
    position: relative;
    display: block;
    width: 1280px;
    height: 720px;
    overflow: hidden;
    background-image: url(../images/background.jpg);
    background-repeat: no-repeat;
    background-size: 1280px 720px;
}

.inventory{
    position: absolute;
    width: 500px;
    height: 90px;
    top: 620px;
    left: 455px;
    opacity: 10%;
    transition: opacity linear .5s;
}

.inventoryItem{
    float: left;
    width: 90px;
    height: 90px;
    background: white;
    border-radius: 10px;
    margin-right: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    
    animation-name: inventory;
    animation-duration: 1s;
}

@keyframes inventory{
    0%{
        opacity: 10%;
    }
    100%{
        opacity: 10%;
    }
}

.inventory:hover{
    opacity: 100%;
}

.inventoryItem:last-child{
    margin:0;
}