*{
    margin: 0;
}

body{
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background: black;
}

.screen{
    display: block;
    position: relative;
    width: 1280px;
    height: 720px;
    background: rgb(0, 150, 255);
}

.sky{
    background-color: #0c1445;
    position: absolute;
    height: 300px;
    top: 0;
    width: 100%;
}

.inventory{
    position: absolute;
    width: 500px;
    height: 90px;
    top: 620px;
    left: 365px;
    opacity: 10%;
    transition: opacity linear .5s;
}

.inventoryItem{
    float: left;
    width: 90px;
    height: 90px;
    background: white;
    border-radius: 10px;
    margin-right: 10px;
}

.inventory:hover{
    opacity: 100%;
}

.inventoryItem:last-child{
    margin:0;
}

.boat{
    position: relative;
    top: 400px;
    left: 1400px;
    width: 200px;
    animation-name: boat;
    animation-duration: 15s;
    animation-timing-function: linear;
    
}

.sea{
    position: relative;
    left: 0;
    top: 275px;
    bottom: 50px;
    height: 30px;
    background-size: 40px 100px;
    background-image: radial-gradient(
        circle at 20px -5px,
        transparent 22px,
         rgb(0, 150, 255) 18px);
        background-repeat: repeat;
}

.sea:before{
    position: relative;
    content: "";
    background-color: #2d90af;
    height: 30px;
    width: 1000vw;
    bottom: -30px;
}

/*// bobler i vannet, endrer duration og delay slik at det gir en autentisk effekt på havet //*/

.bubbles{
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 0;
    overflow: hidden;
    top: 0;
    left: 0;
}

.bubble{
    position: absolute;
    bottom: 0;
    width: 10px;
    height: 10px;
    background: #81d4fa;
    border-radius: 50%;
    opacity: 0.5;
    animation: flying 10s infinite ease-in;
}
.bubble:nth-child(1){
    width: 20px;
    height: 20px;
    left: 40%;
    animation-duration: 8s;
    
}
.bubble:nth-child(2){
    width: 10px;
    height: 10px;
    left: 50%;
    animation-duration: 5s;
    animation-delay: 4s;
}
.bubble:nth-child(3){
    width: 15px;
    height: 15px;
    left: 45%;
    animation-duration: 10s;
    animation-delay: 3s;
}
.bubble:nth-child(4){
    width: 23px;
    height: 23px;
    left: 45%;
    animation-duration: 7s;
    animation-delay: 0s;
}
.bubble:nth-child(5){
    width: 30px;
    height: 30px;
    left: 60%;
    animation-duration: 6s;
    animation-delay: 1s;
}
.bubble:nth-child(6){
    width: 40px;
    height: 40px;
    left: 69%;
    animation-duration: 10s;
    animation-delay: 5s;
}



.cloudSection {
    position: relative;

    width: 100px;
    top: 50px;

    animation: wind 60s linear infinite reverse;
}

.cloudSection .cloud {
    width: 100px;
}

.cloudSection .lightning {
    position: relative;

    top: -15px;
    height: 50px;
    left: 30px;
}

#cloudSection1 {
    position: relative;
    animation: cloudSection1 40s linear infinite reverse;
    top: 10px;
}

#cloudSection2 {
    position: relative;
    animation: cloudSection2 60s linear infinite reverse;
    top: 40px;
}

#cloudSection3 {
    position: absolute;
    animation: cloudSection3 30s linear infinite reverse;
    top: 40px;
}

.lightning{
    opacity: 0;
    /*
    animation-name: lighningEffekt 10s linear infinite;
    */
    animation: lighningEffekt;
    animation-duration: 5s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}

/*// KEYFRAMES //*/

@keyframes boat {
    0%{ left: -100px;
    opacity: 0;
    }
    30% {left: 400px;}
    50%{ left: 400px;}
    70%{ left: 400px;}
    100%{left: 1400px;}
}

@keyframes cloudSection1 {
    from{ left: -200px}
    to{ left: 100%}
  }

  @keyframes cloudSection2 {
    from{ left: -300px}
    to{ left: 100%}
  }

  @keyframes cloudSection3 {
    from{ left: -100px}
    to{ left: 100%}
  }

  @keyframes lighningEffekt{
      0% { opacity: 0;}
      49% {opacity: 0;}
      50% { opacity: 1;}
      55% { opacity: 0;}
      100% { opacity: 0;}
  }

@keyframes flying{
    0%{
        bottom: -100px;
        transform: translateX(0);
    }
    50%{
        transform: translateX(100px);
    }

    100%{
        bottom: 1080px;
        transform: translateX(-200px);
        }
}
