/* SKREVET AV STEFFAN */

@font-face {
    font-family: Montserrat;
    src: url(../Montserrat/Montserrat-SemiBold.ttf);
}

/* For å få skjermen til å fade in */
#blackBox{
    position: absolute;
    opacity: 1;
    width: 100%;
    height: 100%;
    background-color: black;
    
    animation: transition;
    animation-duration: 3s;
    animation-fill-mode: forwards;
    
    
    
}
@keyframes transition {
    0% {
        opacity: 1;
    }
    99% {
        z-index: 1;
    }
    100% {
        opacity: 0;
        z-index: -1;
        
    }
}






#Neptune{
    position: absolute;
    top: 100px;
    left: -390px;
    opacity: 1;
    transform: rotate(20deg);
    transform-origin: bottom;
    animation: Neptune, nepSwaying;
    animation-duration: 10s, 11s;
    animation-timing-function: linear, linear;
    animation-iteration-count: 1, infinite;
}
@keyframes nepSwaying{
    0%{
        top: 100px;
    }
    33%{
        top: 70px;
    }
    66%{
        top: 150px;
    }
    100%{
        top: 100px;
    }
}





#dialogFeil{
    position: absolute;
    left: 600px;
    top: 300px;
    color: red;
    font-size: 100px;
    font-family: montserrat;
}

#dialogTryAgain{
    position: absolute;
    color: black;
    left: 650px;
    top: 400px;
    font-size: 50px;
    text-decoration: none;
    font-family: montserrat;
}

#dialogTryAgain:hover{
    border: 10px;
    
}

#dialog1{
    left: 150px;
    top: 100px;
}

.dialog{
    position: absolute;
    border: 5px solid black;
    display: inline;
    padding: 50px;
    border-radius: 100px;
    background-color: white;
    font-family: montserrat;
}


*{
    margin: 0;
}

body{
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background: black;
}

.screen{
    position: relative;
    overflow: hidden;
    display: block;
    width: 1280px;
    height: 720px;
    background: rgb(6,141,233);
background: radial-gradient(circle, rgba(6,141,233,1) 0%, rgba(28,64,244,1) 48%);
}

.inventory{
    position: absolute;
    width: 500px;
    height: 90px;
    top: 620px;
    left: 455px;
    opacity: 10%;
    transition: opacity linear .5s;
}


.inventoryItem{
    position: relative;
    float: left;
    width: 90px;
    height: 90px;
    background: white;
    border-radius: 10px;
    margin-right: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.inventory:hover{
    opacity: 100%;
}

.inventoryItem:last-child{
    margin:0;
}

